@using Web.Areas.Admin.ViewModels

@model EntityDefinitionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntityDefinition: @Html.DisplayFor(model => model.Name)</h4>

    Fields

    <hr />
    
    @Html.Partial("_AttributeList", Model.AttributeList)

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntityDefinitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
